.sidebar-container {
    width: 230px;
    height: 100vh;
    background-color: #000;
    padding-top: 30px;
    margin-left: -1px;

    .sidebar-menu {
        display: flex;
        flex-direction: column;

        .sidebar-item {
            margin:0;

            &:hover,
            &.selected {
                background-color: #799093;
                color: #fff;
                font-weight: 500;
                font-size: 16px;
            }

            svg {
                font-size: 24px;
            }

            margin: 4px 0;
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            padding: 5px 30px;
            text-decoration: none;
        }
    }
}